<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kawaii Plant Monitor 🌸</title>
    <!-- اضافه کردن Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- فراخوانی فایل استایل -->
    {% include 'templates/styles.html' %}
</head>
<body>

    <!-- فراخوانی هدر -->
    {% include 'templates/header.html' %}

    <div class="container">
        <!-- فراخوانی کارت‌ها -->
        {% include 'templates/card_monitor.html' %}
        {% include 'templates/card_tasks.html' %}
        {% include 'templates/card_chart.html' %}
    </div>

    <!-- فراخوانی اسکریپت‌ها -->
    {% include 'templates/scripts.html' %}

</body>
</html>